@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

.main {
    font-family: 'Nunito Sans', sans-serif;
    font-size: small;

}

.title {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.square {
    background-color: #b4b3b3;
    width: auto;
    height: auto;
    border-radius: 25px;
    outline: 1px;
    outline-color: black;
    padding: 3px;
}

.square-text-padding {
    padding-left: 5mm;
    padding-right: 1mm;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: large;
}

a {
    color: #D12500;
}

.button-dark-style {
    border-radius: 1.5mm;
    background-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
    padding: 1mm;
    padding-right: 1.5mm;
    padding-left: 1.5mm;
}

.button-white-style {
    border-radius: 1.5mm;
    background-color: rgb(247, 239, 230);
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Nunito Sans', sans-serif;
    padding: 1mm;
    padding-right: 1.5mm;
    padding-left: 1.5mm;
}

img {
    transition: transform .7s ease-in-out;
}

img:hover {
    transform: rotate(360deg);
}

img {
    width: 30px;
    height: 30px;
}

:-webkit-scrollbar { width: 12px; } ::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; }